.sip_chart_w {
	border: 5px solid #fff;
	position: relative;
	@media(--xs){
		width: calc( 100vw - 30px);
		overflow-x: scroll;
		padding-top: 250px;
		border-top: none;
		position: relative;
		z-index: 1;
	}
}

.sip_chart_w2 {
	position: relative;
	z-index: 1;
	@media(--xs){
		margin-bottom: 100px;
	}
}

.sip_chart_img_left_ww, .sip_chart_img_left_ww2 {
	display: none;
	@media(--xs){
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 57px;
		height: 456px;
		box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.53);
		z-index: 2;
	}
}

.sip_chart_img_left_ww2 {
	@media(--xs){
		z-index: 1;
	}
}

.sip_chart_img_left_ww2 .sip_chart_header_note_mob {
	display: none;
	width: 87vw;
	position: absolute;
	top: -230px;
	left: 2vw;
	text-align: center;
	z-index: 1;
	@media(--xs){
		display: block;
	}
}


.sip_chart_img_left_w {
	display: none;
	@media(--xs){
		display: block;
		background-repeat: no-repeat;
		width: 100%;
    height: 100%;
    background-size: 38px;
    background-position-x: 16px;
		background-position-y: 15px;
		background-color: #fff;
	}
}

.ig-pres-texts,
.ig-pres-graph-h1 {
	@media(--xs){
		position: relative;
		z-index: 3;
	}
}
.ig-section.ig-pres[data-id="1"] .ig-pres-graph-h1,
.ig-section.ig-pres[data-id="1"] .ig-pres-graph-txt,
.ig-section.ig-pres[data-id="1"] .ig-section_note,
.ig-section.ig-pres[data-id="1"] .ig-pres-graph-line {
	@media(--xs){
		background: var(--color-pink);
	}
}

.ig-section.ig-pres[data-id="2"] .ig-pres-graph-h1,
.ig-section.ig-pres[data-id="2"] .ig-pres-graph-txt,
.ig-section.ig-pres[data-id="2"] .ig-section_note,
.ig-section.ig-pres[data-id="2"] .ig-pres-graph-line {
	@media(--xs){
		background: var(--color-azure);
	}
}

.ig-section.ig-pres[data-id="3"] .ig-pres-graph-h1,
.ig-section.ig-pres[data-id="3"] .ig-pres-graph-txt,
.ig-section.ig-pres[data-id="3"] .ig-section_note,
.ig-section.ig-pres[data-id="3"] .ig-pres-graph-line {
	@media(--xs){
		background: var(--color-pink2);
	}
}

.ig-section.ig-pres[data-id="4"] .ig-pres-graph-h1,
.ig-section.ig-pres[data-id="4"] .ig-pres-graph-txt,
.ig-section.ig-pres[data-id="4"] .ig-section_note,
.ig-section.ig-pres[data-id="4"] .ig-pres-graph-line {
	@media(--xs){
		background: var(--color-skyblue);
	}
}

.ig-section.ig-pres[data-id="5"] .ig-pres-graph-h1,
.ig-section.ig-pres[data-id="5"] .ig-pres-graph-txt,
.ig-section.ig-pres[data-id="5"] .ig-section_note,
.ig-section.ig-pres[data-id="5"] .ig-pres-graph-line {
	@media(--xs){
		background: var(--color-pink3);
	}
}

.ig-section.ig-pres[data-id="5"] .ig-pres-graph-txt {
	@media(--xs){
		padding-bottom: 20px;
	}
}

.ig-pres-texts, .ig-pres-graph-h1 {
	@media(--xs){
		margin-bottom: 0;
		padding-bottom: 20px;
	}
}


.ig-pres-graph-txt {
	@media(--xs){
		width: 100%;
		height: auto;
		position: relative;
		margin-bottom: 0;
		padding-bottom: 10px;
		z-index: 3;
	}
}

.ig-pres-graph-container {
	@media(--xs){
		margin-top: -70px;
	}
}


.sip_chart {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	@media(--xs){
		width: 1035px;
	}

}

.sip_chart * {
	box-sizing: border-box;
}

.sip_chart .sip_chart_header {
	width: 100%;
	padding: 0px 20px 32px 20px;
	position: relative;
	@media(--xs){
		padding: 32px 20px;
	}
}

.sip_chart .sip_chart_header_note {
	padding: 20px 0px 30px 0;
	@media(--xs){
		display: none;
	}
}
.sip_chart .sip_chart_header_line_w {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: #002954;
	position: relative;
}
.sip_chart .sip_chart_header_line_arrow {
	position: absolute;
	top: 0;
}
.sip_chart .sip_chart_header_line_arrow_left {
	left: 0;
	display: none;
	@media(--xs){
		display: block;
	}
	@media(--sm){
		display: block;
	}
	@media(--md){
		display: none;
	}
	@media(--lg){
		display: none;
	}
}
.sip_chart .sip_chart_header_line_arrow_right {
	right: 0;
}


.sip_chart .sip_chart_header_line_arrow_left:before,
.sip_chart .sip_chart_header_line_arrow_left:after,
.sip_chart .sip_chart_header_line_arrow_right:before,
.sip_chart .sip_chart_header_line_arrow_right:after {
	content: '';
	position: absolute;
	width: 21px;
	height: 4px;
	background: #002954;
	border-radius: 2px;
	@media(--xs){
		/* display: none; */
	}
}

.sip_chart .sip_chart_header_line_arrow_right:before,
.sip_chart .sip_chart_header_line_arrow_right:after {
	right: -5px;
}

.sip_chart .sip_chart_header_line_arrow_left:before,
.sip_chart .sip_chart_header_line_arrow_left:after {
	left: -5px;
}

.sip_chart .sip_chart_header_line_arrow_left:before {
	top: 5px;
	transform: rotate(45deg);
}

.sip_chart .sip_chart_header_line_arrow_left:after {
	top: -7px;
	transform: rotate(-45deg);
}
.sip_chart .sip_chart_header_line_arrow_right:before {
	top: 5px;
	transform: rotate(-45deg);
}

.sip_chart .sip_chart_header_line_arrow_right:after {
	top: -7px;
	transform: rotate(45deg);
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line {
	position: absolute;
	width: calc(100% - 14%);
	height: 4px;
	background: #002954;
	/* background: red; */
	margin-left: 4%;
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_point_w {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 0;
	left: 0;
	z-index: 1;
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_point_w__active {
	z-index: 2;
}

.sip_point_line {
	position: absolute;
	top: 36px;
	left: 12px;
	width: 5px;
	height: 314px;
	background: rgba(112, 112, 112, 0.25);
	z-index: 1;
	@media(--xs){
		height: 398px;
	}
	@media(--sm){
		height: 34vw;
	}
	@media(--md){
		height: 33vw;
	}
	@media(--lg){
		height: 314px;
	}
}


.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_tooltip {
	position: absolute;
	bottom: 24px;
	left: -96px;
	width: 220px;
	border: 4px solid #002954;
	background: #fff;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.53);
	@media(--xs){
		left: -90px;
		bottom: 28px;
	}
}


.sip_tooltip:after, .sip_tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sip_tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}
.sip_tooltip:before {
	border-color: rgba(0, 41, 84, 0);
	border-top-color: #002954;
	border-width: 12px;
	margin-left: -12px;
}


.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_tooltip .sip_tooltip_header {
	padding: 10px;
	font-weight: bold;
	text-align: left;
	border-bottom: 4px solid #002954;
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_tooltip .sip_tooltip_body {
	padding: 10px;
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_point {
	position: absolute;
	top: -14px;
	left: 0;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.53);
	background-size: cover;
	cursor: pointer;
	@media(--xs){
		top: -19px;
		width: 40px;
		height: 40px;
	}
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_point .borders,
.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_point .center {
	transition: .5s;
}
.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_point:hover .center {
	fill: #fff;
}
.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_point:hover .borders {
	fill: #002954;
}

.sip_chart .sip_chart_img {
	background: #fff;
	padding-top: 20px;
	padding-bottom: 5px;
  padding-left: 20px;
	padding-right: 20px;
	position: relative;
	overflow: hidden;
	@media(--xs){
		padding-bottom: 15px;
	}
}

.sip_chart .sip_chart_img_anim {
	position: absolute;
	top: -25px;
	left: 44px;
	width: 100%;
	height: 100%;
	background: #fff;
}

.sip_chart .sip_chart_img .sip_chart_image {
  width: 100%;
}

.sip_chart_img_legend_mob {
	position: absolute;
	display: none;
	top: -180px;
	left: 5.5vw;
	width: 80vw;
	background: #fff;
	padding: 12px 0;
	@media(--xs){
		display: block;
		max-width: unset;
	}
}

.sip_chart .sip_chart_img .sip_chart_img_legend {
	width: 250px;
	position: absolute;
	top: 12px;
	left: 70px;
	background: rgba(255,255,255,0.9);
	@media(--xs){
		display: none;
	}
	@media(--sm){
		display: none;
	}
	@media(--md){
		display: block;
	}
	@media(--lg){
		display: block;
	}
}

.ig-pres-graph-line {
	border-bottom: 5px solid #fff;
	position: relative;
	height: 35px;
	z-index: 3;
	display: none;
	@media(--xs){
		display: block;
	}
}

.ig-section_note {
	display: none;
	color: #002954;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	position: relative;
	z-index: 2;
	/* padding: 15px 0; */
	@media(--xs){
		display: flex;
		align-items: center;
		justify-content: flex-start;
		/* display: none; */
	}
}

.ig-section_note_arrow {
	display: none;
	width: 15px;
	margin-right: 6px;
	@media(--xs){
		display: block;
	}
}

.section_note_arrow_right {
	transform: rotate(180deg);
	margin-left: 6px;
}

.ig-section_legend {
	/* display: none; */
	background: #fff;
	@media(--xs){
		display: none;
		margin-top: 50px;
		margin-bottom: 40px;
		padding: 15px 10px;
	}

	@media(--sm){
		display: block;
		width: 100%;
		margin-top: 50px;
		padding: 10px 20px;
	}
	@media(--md){
		display: none;
	}
	@media(--lg){
		display: none;
	}

}

.ig-section_legend img {
	@media(--sm){
		width: 250px;
	}
}

.sip_tooltip_body {
	font-size: 16px;
	line-height: 19px;
}

.sip_tooltip_divide {
	height: 5px;
}

.sip_tooltip_sbold {
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
}
.sip_tooltip_s {
	font-size: 12px;
	line-height: 14px;
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_tooltip[data-id="41"] {
	@media(--xs){
		left: -50px;
	}
}

.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_tooltip[data-id="41"]:after,
.sip_chart .sip_chart_header_line_w .sip_chart_header_line .sip_tooltip[data-id="41"]:before {
	@media(--xs){
		left: 60px;
	}
}
/* -------- */

.ig-section.ig-pres[data-id="1"] .sip_chart .sip_chart_header_line_w .sip_chart_header_line {
	margin-left: 2%;
}
.ig-section.ig-pres[data-id="2"] .sip_chart .sip_chart_header_line_w .sip_chart_header_line {
	margin-left: 3%;
}
.ig-section.ig-pres[data-id="3"] .sip_chart .sip_chart_header_line_w .sip_chart_header_line {
	margin-left: 2.8%;
}
.ig-section.ig-pres[data-id="4"] .sip_chart .sip_chart_header_line_w .sip_chart_header_line {
	margin-left: 3%;
}
.ig-section.ig-pres[data-id="5"] .sip_chart .sip_chart_header_line_w .sip_chart_header_line {
	margin-left: 1.1%;
}

.ig-section .ig-graph-ie .sip_chart_img svg {
	height: 324.26px;
}
