.ig-stars{
	position: fixed;
	
	top: 50%;
	z-index: 10;
	@media(--xs){
		display: none;
	}	
	@media(--sm){
		display: none;
	}
	@media(--md){
		right: 20px;
		display: block;
	}
	@media(--lg){
		right: 50px;
	}
}

.ig-stars-row{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.ig-stars-row:hover{
	& .ig-stars-star{
		transform: scale(2);
	}

	& .ig-stars-pres{
		opacity: 1;
		transform: translate(0, 0);
	}
}



.ig-stars-star{
	cursor: pointer;
	margin-left: 10px;
	transform-origin: 50% 50%;
	transition: all 0.5s ease-out !important;
	& path{
		fill: var(--color-blue) !important;
	}
}
.ig-stars-pres{
	font-size: 15px;
	line-height: 20px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-out !important;
	transform: translate(-10px, 0);
}