.ig-pres{
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	& .ig-pres-col{
		display: flex;
	}
}
/*.ig-pres:nth-child(even){
	& .ig-pres-col{
		justify-content: flex-start;
		flex-direction: row-reverse;
	}
}
.ig-pres:nth-child(odd){
	& .ig-pres-col{
		justify-content: flex-end;
	}
}*/
.ig-pres[data-id="1"]{
	background-color: var(--color-pink);
	& .ig-pres-col{
		justify-content: flex-end;
	}
}
.ig-pres[data-id="2"]{
	background-color: var(--color-azure);
	& .ig-pres-col{
		justify-content: flex-start;
		flex-direction: row-reverse;
	}	
}
.ig-pres[data-id="3"]{
	background-color: var(--color-pink2);
	& .ig-pres-col{
		justify-content: flex-end;
	}
}
.ig-pres[data-id="4"]{
	background-color: var(--color-skyblue);
	& .ig-pres-col{
		justify-content: flex-start;
		flex-direction: row-reverse;
	}		
}
.ig-pres[data-id="5"]{
	background-color: var(--color-pink3);
	& .ig-pres-col{
		justify-content: flex-end;
	}
}


.ig-pres-bg-color{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ig-pres-bg-color[data-id="1"]{
	background-color: var(--color-pink);
}
.ig-pres-bg-color[data-id="2"]{
	background-color: var(--color-azure);
}
.ig-pres-bg-color[data-id="3"]{
	background-color: var(--color-pink2);
}
.ig-pres-bg-color[data-id="4"]{
	background-color: var(--color-skyblue);
}
.ig-pres-bg-color[data-id="5"]{
	background-color: var(--color-pink3);
}


.ig-pres-col{
	width:100%;
	max-width: 1400px;
	position: relative;
}
	.ig-pres-white-container{
		background-color: white;
		height: 100%;
		width: 100%;
		flex-shrink: 2;
		position: relative;

		@media(--sm){

		}
		@media(--md){
			display: none;
		}
		@media(--lg){
			display: block;
		}

	}
		.ig-pres-img{
			position: absolute;
			bottom: 0;
			display: none;
			max-width: none;
			/*transition: all 0.5s ease-out;*/
			@media(--lg){
				display: block;
			}
		}
		.ig-pres-img[data-id="1"]{
			right: -200px;

		}
		.ig-pres-img[data-id="2"]{
			left: -200px;
		}
		.ig-pres-img[data-id="3"]{
			right: -150px;
		}
		.ig-pres-img[data-id="4"]{
			left: -300px;
		}
		.ig-pres-img[data-id="5"]{
			right: -250px;
		}


.ig-pres-bg-white{
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0px;
	background-color: white;
}
.ig-pres-bg-white[data-id="1"]{
	right: 100%;
}
.ig-pres-bg-white[data-id="2"]{
	left: 100%;
}
.ig-pres-bg-white[data-id="3"]{
	right: 100%;
}
.ig-pres-bg-white[data-id="4"]{
	left: 100%;
}
.ig-pres-bg-white[data-id="5"]{
	right: 100%;
}

.ig-pres-container{
	max-width: 1050px;
	min-width: 100%;
	position: relative;
	padding: 15px;
	transition: all 0.5s ease-out;
    box-sizing: border-box;
	@media(--sm){
		padding: 30px;
	}
	@media(--md){
		padding: 50px;
	}
	@media(--lg){
		padding: 75px;
	}
	@media(--iexl){
		min-width: 1050px;
	}
}



@media(--lg){
	.ig-pres-container[data-id="1"]{
		padding-right:150px;
	}
	.ig-pres-container[data-id="2"]{
		padding-left:150px;
	}
	.ig-pres-container[data-id="3"]{
		padding-right:150px;
	}
	.ig-pres-container[data-id="4"]{
		padding-left:150px;
	}
	.ig-pres-container[data-id="5"]{
		padding-right:150px;
	}
}


.ig-pres-h1{
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	color: var(--color-red);
	margin-bottom: 20px;
	font-weight: 500;
	@media(--xs){
		margin-top: 20px;
		font-size: 30px;
		line-height: 40px;
	}
}
.ig-pres-h1[data-id="2"],
.ig-pres-h1[data-id="4"]{
	color: var(--color-blue);
}

.ig-pres-star{
	@media(--xs){
		max-width: 10px;
	}
}
.ig-pres-star:last-child{
	display: none;
}
.ig-pres-star[data-id="2"],
.ig-pres-star[data-id="4"]{
	& path{
		fill: var(--color-red) !important;
	}
}

.ig-pres-info-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--color-blue);
	border-bottom: 1px solid var(--color-blue);
	min-height: 30px;
	margin-bottom: 20px;
	max-width: 613px;
	width: 100%;
	@media(--lg){
		padding-right: 20px;
	}
}
.ig-pres-info-row:after{
	content:'';
	min-height:inherit;
	font-size:0;
}

/*.ig-pres-info-row[data-id="5"]{
	max-width: 370px;
}*/

	.ig-pres-info{
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		@media(--xs){
			font-size: 8px;
			line-height: 10px;
			text-align: center;
		}
	}

.ig-pres-texts{
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
	@media(--md){
		flex-direction: row;
	}
}
	.ig-pres-column{
		width: 100%;
		@media(--md){
			width: 50%;
		}
	}
	.ig-pres-column:nth-child(even){
		margin-left:0px;
		@media(--md){
			margin-left:10px;
		}
	}	
	.ig-pres-column:nth-child(odd){
		margin-right:0px;
		@media(--md){
			margin-right:10px;
		}
	}

		.ig-pres-text{
			font-size: 16px;
			line-height: 21px;
			@media(--xs){
				font-size: 14px;
				line-height: 19px;
			}
		}


.ig-pres-graph-h1{
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 10px;
	@media(--xs){
		font-size: 16px;
		line-height: 21px;
	}
}

.ig-pres-graph-txt{
	font-size: 16px;
	line-height: 21px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ig-pres-graph-container{
	position: relative;
	width: 100%;
}