#ig-infographic{
  width: 100%;
  font-family: 'Matter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--color-blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#ig-infographic * {
  box-sizing: border-box;
}



.ig-section{
  width: 100%;
  transform-origin: center center;
}


.ig-section[data-id="0"]{ z-index: 0;}
.ig-section[data-id="1"]{ z-index: 0; position: sticky; top: 0px;}
.ig-section[data-id="2"]{ z-index: 0; position: sticky; top: 0px;}
.ig-section[data-id="3"]{ z-index: 0; position: sticky; top: 0px;}
.ig-section[data-id="4"]{ z-index: 0; position: sticky; top: 0px;}
.ig-section[data-id="5"]{ z-index: 0; position: sticky; top: 0px;}
.ig-section[data-id="6"]{ z-index: 0;}
