.ig-header{
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	background-color: white;
	overflow: hidden;
}

	.ig-header-col{
		width:100%;
		max-width: 1400px;
		position: relative;
		display: flex;
		@media(--xs){
			flex-direction: column-reverse;
		}
	}

		.ig-header-col-left{
			position: relative;
			background-color: var(--color-blue);
			padding: 15px;
			@media(--sm){
				padding: 30px;
			}
			@media(--md){
				padding: 50px;
				width: 70%;
			}
			@media(--lg){
				padding: 75px;
				width: 50%;
			}
		}

		.ig-header-blue-rect{
			background-color: var(--color-blue);
			width: 100vw;
			height:100%;
			position:absolute;
			top: 0;
			right: 100%;
		}

		.ig-header-col-right{
			width: 50%;
		}

		.ig-header-h1{
			font-size: 80px;
			line-height: 80px;
			margin-bottom: 40px;
			@media(--xs){
				font-size: 50px;
				line-height: 50px;
			}
		}

		.ig-header-p{
			font-size: 16px;
			line-height: 21px;
			@media(--xs){
				font-size: 14px;
				line-height: 19px;
			}

		}

		.ig-header-scroll{
			position: absolute;
			bottom: 5px;
			right: 1px;
			z-index:2;
			@media(--xs){
				display: none
			}
		}


		.ig-header-scroll-txt{
			position: absolute;
			z-index: 2;
			transform: translate(-21px, -50px) rotate(90deg);
		}

		.ig-header-line{
			width: 2px;
			height: 70px;
			background-color: white;
		}


	.ig-header-col-right{
		position: relative;
		height: 100%;
		
		@media(--xs){
			height: 150px;
			overflow: hidden;
			width: 100%;
		}
		@media(--sm){

		}
		@media(--md){
			width: 30%;
		}
		@media(--lg){
			width: 50%;
		}
	}

		.ig-header-blue-line{
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 100%;
			background-color: var(--color-blue);

			@media(--xs){
				display: none;
			}
		}

		.ig-flag{
			position: absolute;
			bottom: 130px;
			left: 50px;
			transition: all 0.5s ease-out;

			@media(--xs){
				transform: scale(0.6);
				bottom: -100px;
    			left: -92px;
			}

			@media(--lg){
				bottom: 50px;
			}
		}

		.ig-usa{
			transform-origin: 0 100;
			transform: translate(-67px, 65px) rotate(90deg);
		}

		.ig-flag-lines{
			position: absolute;
			min-width: 600px;
			height:100%;
			top: 0;
			left: 50px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			
			@media(--xs){
				min-width: 100%;
				width: 100%;
			}
		}

			.ig-flag-line{
				width: 7.7%;
				min-width: 33px;
				height: 100%;
				overflow: hidden;

				@media(--xs){
					width: 7.7%;
					min-width: 7.7%;
				}
			}

				.ig-flag-line-bg{
					width: 100%;
					height: 100%;
					background-color: var(--color-skyblue2);
				}

			.ig-flag-line[data-id="0"]{
				height: 100%;
			}
			.ig-flag-line[data-id="1"]{
				height: 90%;
			}
			.ig-flag-line[data-id="2"]{
				height: 80%;
			}
			.ig-flag-line[data-id="3"]{
				height: 70%;
			}
			.ig-flag-line[data-id="4"]{
				height: 60%;
			}
			.ig-flag-line[data-id="5"]{
				height: 50%;
			}
			.ig-flag-line[data-id="6"]{
				height: 40%;
			}			