.ig-footer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	overflow: hidden;
	position: relative;
	background-color: var(--color-white);
	box-sizing: border-box;
}

	.ig-footer-col{
		width:100%;
		max-width: 1400px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 15px;
		box-sizing: border-box;
		@media(--sm){
			padding: 30px;
		}
		@media(--md){
			padding: 50px;
		}
		@media(--lg){
			padding: 75px;
		}
	}

		.ig-footer-bg{
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

			.ig-footer-line{
				width: 100%;
				height: 72px;
			}

			.ig-footer-line:nth-child(even){
				background-color: var(--color-skyblue2);
			}

		.ig-footer-h1{
			font-size: 50px;
			line-height: 80px;
			margin-bottom: 40px;
			color: var(--color-blue);
			letter-spacing: 0;
			text-align: center;
			display: block;
			box-sizing: border-box;
			font-weight: 500;
			@media(--xs){
				font-size: 30px;
				line-height: 35px;
				margin-top: 56px;
				margin-left: 60px;
				text-align: left;
				margin-bottom: 45px;
			}
			@media(--sm){
				margin-top: 15px;
			}
			@media(--md){
				margin-top: 15px;
				margin-left: 10px;
				margin-right: 10px;
				line-height: 72px;
			}
			@media(--lg){
				margin-top: -10px;
				line-height: 80px;
			}
		}








@media (--ie){
	.ig-footer-h1{
		width:100%;
		@media (--xs){
			width: 80%;
			text-align: left;
		}
	}
}	

@media (--ie){
	.ig-table{
		width:100%;
		@media(--xs){
			width: 80%;
		}
		/*box-sizing: border-box;*/
	}
}


		.ig-back-btn{
			display: flex;
			justify-content: center;
			align-items: center;
			width:304px;
			height: 48px;
			border: 4px solid var(--color-blue);
			background-color: var(--color-white);
			transition: all 0.5s ease-out !important;
			cursor: pointer;
			margin-bottom: 220px;
			& span{
				font-size: 16px;
				color: var(--color-blue);
				transition: all 0.5s ease-out;
			}
		}

		.ig-back-btn:hover{
			border: 4px solid var(--color-red);
			background-color: var(--color-blue);
			& span{
				color: var(--color-white);
			}
		}

.ig-table{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
	margin-bottom: 220px !important;
  	
    & table{
  		border-collapse: collapse !important;
  		table-layout: auto !important;
    }

	@media(--xs){
		margin-left: 100px;
	}
	@media(--sm){
		margin-left: 160px;
	}
	@media(--md){
		margin-left: 160px;
	}
	@media(--lg){
		margin-left: 160px;
		margin-right: 160px;
	}
}

.ig-table-td-top{
	color: white;
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	width: 160px;
	height: 160px;
	border: 4px solid var(--color-blue);
	vertical-align: middle !important;
/*	position: relative;*/

	@media(--xs){
		font-size: 12px;
		line-height: 16px;
		border: 2px solid var(--color-blue);
		height: 100px;
	}

}
.ig-td-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center center;
}
.ig-table-td-top[data-id="0"]{
	background-color: var(--color-red);
}
.ig-table-td-top[data-id="1"]{
	background-color: var(--color-grey);
}
.ig-table-td-top[data-id="2"]{
	background-color: var(--color-lightblue);
}
.ig-table-td-top[data-id="3"]{
	background-color: var(--color-green);
}
.ig-td-bg-span{
	position: relative;
}

.ig-1998{
	@media(--xs){
		transform: translate(22px, 0);
	}
}


.ig-table-tr{
	position: relative;
}

.ig-table-td{
	color: var(--color-blue);
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	height:54px;
	border: 4px solid var(--color-blue);
	background-color: var(--color-white);
	position: relative;
	vertical-align: middle !important;
	@media(--xs){
		font-size: 12px;
		line-height: 16px;
		border: 2px solid var(--color-blue);
	}
}

.ig-table-pres{
	position: absolute;
	right: calc(100%+4px);
	top: 0;
	background-color: white;
	width: 160px;
	height:54px;
	display: none;
	@media(--xs){
		right: calc(100%+2px);
		width: 100px;
	}	
}
.ig-table-pres[data-id="0"]{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ig-usa2{
	position: absolute;
    top: -140px;
    left: -400px;
    z-index:2;
	@media(--xs){
		transform: translate(0, 0) !important;
	}
}

.ig-usa3{
	position: absolute;
    right: -400px;
    bottom: 0px;
    z-index:2;


	@media(--xs){
		transform: translate(0, 0) !important;
		transform-origin: 50% 50%;
		right: 0px;
		bottom: -277px;
	}

}



.ig-sources-text{
	color: var(--color-blue);
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
}

.ig-sources{
	margin-bottom: 120px;
	max-width: 940px;
	width: 100%;
	padding-left: 10px;
	padding-bottom: 20px;
}

	.ig-source-a{
		display: block;
		color: var(--color-blue);
	    margin-top: 5px;
	    overflow-wrap: break-word;
	}

	.ig-source-a2{
		color: var(--color-blue);
	}
	.ig-source-span{
		display: block;
		color: var(--color-blue);
	}

	.ig-sources-row{

	}

	.ig-sources-row-collapsed{
		height: 0px;
		overflow: hidden;
	}

.ig-line-btn{
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--color-blue);
	cursor: pointer;
}


	.ig-line-btn-hr{
		width: 100%;
		height: 4px;
		background-color: var(--color-blue);
	}

	.ig-arrow{
		transform-origin: center center;
	}

	.ig-arrow-flip{
		transform: rotate(180deg);
	}


	.ig-toggle-btn{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 130px;
		min-width: 130px;
		margin-left: 20px;
		font-weight: bold;
		font-size:14px;
		line-height:19px;

		& span{
			margin-bottom: 2px;
		}
	}