<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
        <title></title>

        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    </head>
    <body>



<Column height="500vh" width='100%'>
    <Overlay cover style={{ background:'linear-gradient(to bottom, black 0%, grey 100%)'}}/>
        <Text  style={{zIndex:1}} text="SCROLLY PART"/>
</Column>

<Column height="200vh" width='100%'>
    <Sticky>
        <Column height="100vh">
            <Overlay cover style={{ background:'linear-gradient(to top, black 0%, grey 100%)'}}/>
            <Text style={{zIndex:1}} text="STICKY PART"/>
        </Column>
    </Sticky>
    <Column height="200vh" width='100%' padding="100vh 0 0 0">
        <Overlay cover style={{ background:'linear-gradient(to bottom, red 0%, green 100%)'}}/>
        <Text style={{zIndex:1}} text="NEXT SLIDE SCROLLY PART"/>
    </Column>
</Column>

</html>