@import './components/app';
  @import './components/header';
  @import './components/pres';
    @import './components/graph';
  @import './components/footer';
  @import './components/stars';


@font-face {
    font-family: 'Matter';
    src: url('https://www.alphagridinfographics.com/ig/fonts/Matter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter';
    src: url('https://www.alphagridinfographics.com/ig/fonts/Matter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matter';
    src: url('https://www.alphagridinfographics.com/ig/fonts/Matter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
  --color-blue: #002954;
  --color-red: #E01B1C;
  --color-pink: #F5B5B5;
  --color-pink2: #FECBC8;
  --color-pink3: #FAADAA;
  --color-azure: #E2ECED;
  --color-skyblue: #D7E9F7;
  --color-skyblue2: #E2ECED;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-green: #67C058;
  --color-lightblue: #3987CC;
  --color-grey: #717677;

  --shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
}

@custom-media --xs (max-width: 575px);
@custom-media --sm (min-width: 576px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1200px);

@custom-media --iexl (min-width: 1050px);



@custom-media --ie all and (-ms-high-contrast: none), (-ms-high-contrast: active);
@custom-media --nonretina not screen and (-webkit-min-device-pixel-ratio: 2),
not screen and (   min--moz-device-pixel-ratio: 2),
not screen and (     -o-min-device-pixel-ratio: 2/1),
not screen and (        min-device-pixel-ratio: 2),
not screen and (                min-resolution: 192dpi),
not screen and (                min-resolution: 2dppx);