<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
		<title><%= htmlWebpackPlugin.options.title %></title>

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
		<style type="text/css">body{padding:0;margin:0;}</style>
		<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
	</head>
	<body>
		<div id="ig-infographic" class="ig-infographic"></div>
	</body>
</html>


